*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    margin: 0 auto;
    width: 1280px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: rgb(217,0,0);
    background: linear-gradient(90deg, rgba(217,0,0,1) 0%, rgba(247,145,115,1) 35%, rgba(0,212,255,1) 100%);
}
.container{
    width: 1200px;
    height: 770px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(68, 68, 68, 0.15) 1.91px 10.833px 50px 0px;
}
.main-content{
    width: 900px;
    margin: 0 auto;
}
.logo{
    margin-bottom: -100px;
}
.header img {
    margin: 45px 0 128px;
}
.header{
    text-align: center;
    width: 100%;
}
form{
    margin: 48px 0 ;
}
.title-signin{
 margin: 12px 0 11px ;
 font-size: 16px;
}
.input-signin input{
    width: 100%;
    height: 60px;
    padding-left: 17px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid 
    #37A9CD;
    outline: none;
}
.input-signin p{
    padding:5px 10px 0;
}
.button-signin button{
    background-color: crimson;
    border: none;
    color: white;
    margin: 32px 0;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    transition: .6s;
}
.button-signin button:hover{
    background-color: coral;
    transition: .6s;
}
@media (max-width:769px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .main-content{
        margin: 20px;
    }
    table input{
        width: 100%;
    }  
}